
* {
    margin: 0;
    padding: 0;
    color: white;
}

body::before {
    content: " ";
    background-image: url('../imgs/bg-gradientjpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#questionBlock {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    height: 30vw;
    background-color: rgb(10, 5, 45);
    flex-wrap: nowrap;
    align-items: flex-start;
    border: solid transparent;
    border-radius: 3vw;
}



#textfield {
    
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#questionNumber {
    font-size: 2.5vw;
}

#question {
    font-size: 1.5vw;
    width: 80%;
}

.questionPadding {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-top: 5vw;
}

#submitAnswer {
    display: inline;
    margin: 0 auto;
}

#submitAnswer div button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    font-size: 1.5vw;
    font-weight: bolder;
    height: 3vw;
    width: 25vw;
    /* clip-path: polygon(); */
}



@media screen and (max-width:800px) {
    #navbar {
        font-size: 2em;
    }

    #questionBlock {
        height: fit-content;
    }

    #questionNumber {
        font-size: 1.2em;
    }

    #question {
        font-size: 1.1em;
    }

}


#submitAnswer div button,
button::after {

    position: relative;
    width: 22vw;
    height: 10vh;
    font-size: 15px;
    /* font-family: 'Bebas Neue', cursive; */
    background: linear-gradient(45deg, transparent 5%, #D9D9D9 5%);
    border: 0;
    color: #000;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0 0 #f600d5;
    outline: transparent;
}

#submitAnswer div button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'ENTER YOUR ANSWER';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #f600d5 3%, #f600d5 5%, #D9D9D9 5%);
    text-shadow: -3px -3px 0 #21888a, 3px 3px 0 #49436f;
    clip-path: var(--slice-0);
}

#submitAnswer div button:hover::after {
    animation: glitch 1s steps(2, end);
}

@-moz-keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@-webkit-keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@-o-keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

.ques-page-backslash{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    10% {
      opacity: 0;
    }
    12% {
        opacity: 1;
    }
    16%{
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    27% {
        opacity: 0;
    }
   
  }




  .parent3_2 {
    position: relative;
    top: 0;
    left: 0;
  }
  
  #img3_2_1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
  }
  
  #img3_2_2 {
    position:absolute;
    top: 0;
    left: 0;
  }

* {
    margin: 0;
    padding: 0;
    color: white;
}

body::before {
    content: " ";
    background-image: url('../imgs/bg-gradientjpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#questionBlock {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    height: 30vw;
    background-color: rgb(10, 5, 45);
    flex-wrap: nowrap;
    align-items: flex-start;
    border: solid transparent;
    border-radius: 3vw;
}

#questionNumber {
    font-size: 2.5vw;
}

#question {
    font-size: 1.5vw;
    width: 80%;
}

.questionPadding {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-top: 5vw;
}

#submitAnswer {
    display: inline;
    margin: 0 auto;
}

#submitAnswer div button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    font-size: 1.5vw;
    font-weight: bolder;
    height: 3vw;
    width: 25vw;
    /* clip-path: polygon(); */
}



@media screen and (max-width:800px) {
    #navbar {
        font-size: 2em;
    }

    #questionBlock {
        height: fit-content;
    }

    #questionNumber {
        font-size: 1.2em;
    }

    #question {
        font-size: 1.1em;
    }

}


#submitAnswer div button,
button::after {

    position: relative;
    width: 22vw;
    height: 10vh;
    font-size: 15px;
    /* font-family: 'Bebas Neue', cursive; */
    background: linear-gradient(45deg, transparent 5%, #D9D9D9 5%);
    border: 0;
    color: #000;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0 0 #f600d5;
    outline: transparent;
}

#submitAnswer div button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'ENTER YOUR ANSWER';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #f600d5 3%, #f600d5 5%, #D9D9D9 5%);
    text-shadow: -3px -3px 0 #21888a, 3px 3px 0 #49436f;
    clip-path: var(--slice-0);
}

#submitAnswer div button:hover::after {
    animation: glitch 1s steps(2, end);
}

@-moz-keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@-webkit-keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@-o-keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

.ques-page-backslash{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    10% {
      opacity: 0;
    }
    12% {
        opacity: 1;
    }
    16%{
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    27% {
        opacity: 0;
    }
   
  }
